---
import { Image } from "astro:assets";

import logo from "../../assets/logos/chn_logo_transparent.webp";

interface NavLink {
    title: string;
    href: string;
};

const nav_links: NavLink[] = [
    {
        title: "Home",
        href: "/",
    }, {
        title: "Services",
        href: "/services",
    }, {
        title: "Book",
        href: "/book",
    },
];
---

<nav class="flex items-center justify-between px-16 sticky top-0 bg-gray-100 z-100">
    <!-- * Logo & Title * -->
    <div class="flex items-center">
        <Image
            src={logo}
            class="size-16 mr-2"
            alt="Nav-Bar-Logo"
            loading="lazy"
        />
        <h1 class="text-xl">Country Hideaway Nails</h1>
    </div>

    <!-- * Large-Screen Navigation Links * -->
    <div class="hidden sm:block">
        {nav_links.map((link: NavLink) => (
            <a
                href={link.href}
                class={`
                    mx-1
                    ${link.href.replaceAll('/', '') === Astro.url.pathname.replaceAll('/', '')
                        ? "text-red-600"
                        : ""
                    }
                `}
            >
                {link.title}
            </a>
        ))}
    </div>
</nav>