---
import NavLayout from "../../layouts/NavLayout.astro";

import Cash from "../../assets/icons/Cash.astro";
import CashApp from "../../assets/icons/CashApp.astro";
import CreditCard from "../../assets/icons/CreditCard.astro";
import Venmo from "../../assets/icons/Venmo.astro";

import all_service_groups, { type Service, type ServiceGroup } from "../../data/services";
---

<NavLayout page_title="Services">
    <!-- * SERVICE PAGE TITLE * -->
    <div class="mx-16 my-8">
        <h1 class="text-xl sm:text-4xl lg:text-6xl">Available Products and Services</h1>
        <hr />
    </div>
    
    <!-- * SERVICE GROUPS * -->
    <div class="mx-16 flex gap-8 justify-around flex-wrap">
        {all_service_groups.map((group: ServiceGroup) => (
            <div class="border rounded-2xl px-8 py-4 max-w-[500px] w-[500px] bg-[#ffebbd]">
                <h1 class="text-xl sm:text-2xl lg:text-4xl">{group.title}</h1>
                <hr class="pb-2" />
                {group.services.map((service: Service) => (
                    <>
                        <div class="flex pb-1">
                            <p class="font-bold">{service.title}</p>
                            <div class="flex-grow border-b-2 border-dotted min-w-[20px]"></div>
                            <p>{service.cost}</p>
                        </div>
                        {service.description === undefined
                            ? <></>
                            : <div>
                                <p class="ml-8">*&nbsp;{service.description}</p>
                            </div>
                        }
                    </>
                ))}
            </div>
        ))}
    </div>

    <!-- * CALL TO ACTION * -->
    <div class="mx-16 mt-32 flex items-center justify-center">
        <div class="flex flex-col items-center gap-2">
            <h1 class="text-2xl lg:text-3xl pb-2">Like What You See?</h1>
            <a href="/book">
                <button 
                    class={`
                        text-sm sm:text-lg cursor-pointer rounded-full px-4 py-2
                        bg-[#7a8153] hover:bg-[#85904c] text-white
                    `}
                >
                    Book Appointment
                </button>
            </a>

            <p>Now Accepting</p>
            <div class="flex gap-2">
                <Cash width={38} height={38} />

                <CreditCard width={38} height={38} />

                <CashApp width={38} height={38} />

                <Venmo width={38} height={38} />
            </div>
        </div>
    </div>
</NavLayout>