@font-face {
  font-family: 'InstrumentSerif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/instrument_serif/InstrumentSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/kreon/Kreon-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'LaBelleAurore';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/la_belle_aurore/LaBelleAurore-Regular.ttf') format('truetype');
}

:root {
    --color-text-light: #c0c0c0;
    --color-text-bright: #ffffff;

    --color-text-dark: #3c2c1e;
    --color-text-darker: #301f18;

    --color-chn-tan: #f3f0e7;
    --color-chn-brown: #46381e;
    --color-chn-black: #191917;
    --color-chn-green: #807f6c;

    --color-chn-black-highlight: #000000;
    --color-chn-green-highlight: #a4a26e;

    --text-xl: 3.375rem;
    --text-lg: 1.500rem;
    --text-md: 1.000rem;
    --text-sm: 0.875rem;
    --text-xs: 0.750rem;

    --text-xl-line-height: calc(calc(0.25rem + var(--text-xl)) / var(--text-xl));
    --text-lg-line-height: calc(calc(0.25rem + var(--text-xl)) / var(--text-lg));
    --text-md-line-height: calc(calc(0.25rem + var(--text-xl)) / var(--text-md));
    --text-sm-line-height: calc(calc(0.25rem + var(--text-xl)) / var(--text-sm));
    --text-xs-line-height: calc(calc(0.25rem + var(--text-xl)) / var(--text-xs));
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    color: var(--color-text-darker);
    background-color: var(--color-chn-tan);

    font-size: var(--text-md);
    font-family: "Kreon", sans-serif;
    line-height: var(--text-md-line-height);
}

.font-instrument-serif { font-family: "InstrumentSerif", sans-serif; }
.font-kreon { font-family: "Kreon", sans-serif; }
.font-la-belle-aurore { font-family: "LaBelleAurore", cursive; }

.bg-chn-tan { background-color: var(--color-chn-tan); }
.bg-chn-brown { background-color: var(--color-chn-brown); }
.bg-chn-black { background-color: var(--color-chn-black); }
.bg-chn-green { background-color: var(--color-chn-green); }

.text-light { color: var(--color-text-light); }
.text-bright { color: var(--color-text-bright); }
.text-dark { color: var(--color-text-dark); }
.text-darker { color: var(--color-text-darker); }

.text-xl { font-size: var(--text-xl); line-height: var(--text-xl-line-height); }
.text-lg { font-size: var(--text-lg); line-height: var(--text-lg-line-height); }
.text-md { font-size: var(--text-md); line-height: var(--text-md-line-height); }
.text-sm { font-size: var(--text-sm); line-height: var(--text-sm-line-height); }
.text-xs { font-size: var(--text-xs); line-height: var(--text-xs-line-height); }

.weight-thin { font-weight: lighter; }
.weight-normal { font-weight: normal; }
.weight-bold { font-weight: bold; }

.drop-shadow { box-shadow: 0 0.5rem 0.5rem 0 #00000040; }

.chn-black-button {
    color: var(--color-text-light);
    background-color: var(--color-chn-black);

    border: none;
    border-radius: 2rem;

    width: fit-content;
    height: fit-content;
    padding: 0.5rem 3rem;
    display: block;

    font-size: var(--text-md);
    font-weight: bolder;
    text-decoration: none;
    text-wrap: nowrap;

    cursor: pointer;
    transition: color 150ms ease-in-out 0s, background-color 150ms ease-in-out 0s;
}

.chn-black-button:hover {
    color: var(--color-text-bright);
    background-color: var(--color-chn-black-highlight);
}

.chn-green-button {
    color: var(--color-text-light);
    background-color: var(--color-chn-green);

    border: none;
    border-radius: 2rem;

    width: fit-content;
    height: fit-content;
    padding: 0.5rem 3rem;
    display: block;

    font-size: var(--text-md);
    font-weight: bolder;
    text-decoration: none;
    text-wrap: nowrap;

    cursor: pointer;
    transition: color 150ms ease-in-out 0s, background-color 150ms ease-in-out 0s;
}

.chn-green-button:hover {
    color: var(--color-text-bright);
    background-color: var(--color-chn-green-highlight);
}