@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;

    color: #3c2c1e;
    background-color: #fff3d8;
}

h1 {
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    letter-spacing: 0.05em;
}