.paper-tear {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background:
        linear-gradient(var(--paper-tear-color)),
        var(--paper-tear-image);
    background-blend-mode: normal;
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;

    mask-image: var(--paper-tear-image);
}

.hero-section {
    position: relative;
    height: calc(100vh - 14rem);
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(#46381EBF, #46381EBF),
        var(--hero-image);
    background-blend-mode: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-buttons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    margin-top: 4rem;
}

.home-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;

    padding: 4rem 8rem;
}

.home-paragraph-block {
    max-width: 600px;
}

.about-owner-portrait {
    width: 40vw;
    max-width: 400px;
    height: auto;
    aspect-ratio: 596 / 768;
}

.reviews-section {
    position: relative;
}

.home-facebook-embed {
    display: flex;
    width: fit-content;
}

.home-facebook-embed > * {
    border: none;
}

@media (max-width: 40rem) {
    .home-flex-container {
        padding: 4rem 4rem;
    }

    .about-owner-portrait {
        width: 100%;
    }

    .home-facebook-embed {
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    .home-facebook-embed > * {
        border: none;
    }
}