.paper-tear {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background:
        linear-gradient(var(--paper-tear-color)),
        var(--paper-tear-image);
    background-blend-mode: normal;
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;

    mask-image: var(--paper-tear-image);
}

.hero-section {
    position: relative;
    height: calc(100vh - 4rem - 50px);
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(#46381EBF, #46381EBF),
        var(--hero-image);
    background-blend-mode: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-buttons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    margin-top: 4rem;
}

.home-large-title {
    width: fit-content;
    margin: 0 auto 2rem auto;
    text-align: center;
}

.home-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;

    padding: 4rem 8rem;
}

.home-paragraph-block {
    max-width: 600px;
}

.about-owner-portrait {
    width: 40vw;
    max-width: 400px;
    height: auto;
    aspect-ratio: 596 / 768;
}

.reviews-section {
    position: relative;

    padding-top: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: calc(4rem + 50px);
}

.review-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 4rem;
    flex-wrap: wrap;
}

.gallery-section {
    padding: 4rem 4rem;
}

.gallery-images-grid {
    width: 100%;
    column-count: 5;
    column-gap: 1rem;
}

.gallery-image {
    width: 100%;
    height: auto;
    aspect-ratio: var(--gallery-image-aspect);

    display: block;
    margin-bottom: 1rem;

    object-fit: cover;
    break-inside: avoid;

    transition:
        transform 150ms ease-in-out 0s,
        box-shadow 150ms ease-in-out 0s;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem 0 #00000080;
}

.home-facebook-embed {
    display: flex;
    width: fit-content;
    overflow: hidden;
}

.home-facebook-embed > * {
    border: none;
}

@media (max-width: 56rem) {
    .gallery-images-grid {
        column-count: 4;
    }
}

@media (max-width: 48rem) {
    .gallery-images-grid {
        column-count: 3;
    }
}

@media (max-width: 40rem) {
    .home-flex-container {
        padding: 4rem 4rem;
    }

    .about-owner-portrait {
        width: 100%;
    }

    .home-facebook-embed {
        width: 100%;
    }

    .reviews-section {
        position: relative;

        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gallery-images-grid {
        column-count: 2;
    }
}