.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
}

.nav-bar-logo {
    width: 5rem;
    height: 5rem;
}

.nav-link-container {
    flex-grow: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-link {
    text-decoration: none;
}

.nav-hamburger-button {
    display: none;
    flex-direction: column;
    gap: 0.5rem;

    width: 2.5rem;

    padding: 0.25rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 2rem;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.nav-hamburger-button:hover > div {
    background-color: var(--color-text-bright);
}

.nav-hamburger-bar {
    width: 100%;
    height: 0.25rem;

    background-color: var(--color-text-light);
    border-radius: 0.125rem;

    transition: background-color 150ms ease-in-out 0s;
}

.footer-bar {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    padding: 4rem 4rem;
}

.footer-bar-info-section {
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-bar-logo-container {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer-bar-logo {
    width: 5rem;
    height: 5rem;
}

.footer-business-hours-container {
    display: flex;
    align-items: end;
    gap: 0.5rem;

    max-width: 100%;
}

.footer-business-hours-dotted-line {
    flex-grow: 1;
    height: fit-content;
    border-bottom: 0.125rem dotted var(--color-text-light);
}

.footer-google-maps-embed {
    width: 28rem;
    height: 14rem;
}

.footer-google-maps-embed > iframe {
    border: none;
}

@media (max-width: 36rem) {
    .nav-bar {
        justify-content: start;
    }

    .nav-bar-logo {
        margin-left: 2rem;
    }

    .nav-link-container {
        display: none;
    }

    .footer-bar {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .nav-hamburger-button {
        display: flex;
    }
}

@media (max-width: 64rem) {
    .footer-bar {
        flex-direction: column;
    }

    .footer-google-maps-embed {
        width: 100%;
        height: 24rem;
        margin: auto;
    }
}