.service-group-title {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    text-align: center;
    font-weight: normal;

    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.25rem 0 #00000040;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.service-main-line {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.service-dotted-line {
    flex-grow: 1;
    height: fit-content;
    border-bottom: 0.125rem dotted var(--color-text-dark);
}