---
interface Props {
    /** The amount of time between scrolls, measured in milliseconds. */
    scroll_interval: number;
};

export type CarouselProps = Props;

const scroll_interval = Astro.props.scroll_interval;
---

<div>

</div>

<script is:inline define:vars={{ scroll_interval }}>
    document.addEventListener("DOMContentLoaded", () => {

    });
</script>