---
interface Props {
    href: string;
    class?: string;
};
---

<a
    href={Astro.props.href}
    class={`
        text-blue-600 cursor-pointer hover:underline ${Astro.props.class}
    `}
><slot/></a>