---
import NavLayout from "../layouts/NavLayout.astro";
import type { Languages } from "../../config/language_config";

interface Props {
    language: Languages;
};
---

<NavLayout language={Astro.props.language}>
    <!-- * Services Section * -->

    <section>

    </section>

    <!-- * Call-To-Action Section * -->

    <section>

    </section>
</NavLayout>